h1 {
 text-align: center; 
 border: double;
 border-width: 5px;
 border-left-color: red;
 border-right-color: blue;
 border-top-color: White;
 border-bottom-color: White;
 color: Black;
}
.button {
  text-align: center;
}
body {
  background-color: White;
}
