h1 {
 text-align: center; 
 border: double;
 border-width: 5px;
 border-left-color: red;
 border-right-color: blue;
 border-top-color: White;
 border-bottom-color: White;
 color: Black;
}
.button {
  text-align: center;
}
body {
  background-image: url("https://previews.123rf.com/images/imichman/imichman1506/imichman150600044/40482046-Seamless-pattern-Simple-texture-with-the-repeating-pixel-triangles-Pixel-background-Repeating-small--Stock-Vector.jpg");
  font-weight: bold;
}
#myp {
  border: solid;
  border-color: lightblue;
  font-weight: bold;
}
